<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="knockknock.delivr_it.knocknock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.KnocKnock"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_knocknock"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegistrationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ItemListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.OrderViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlacedOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderProcessingActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>